<!DOCTYPE html5>
<html ng-app="voiceMessagesApp" ng-cloak>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Browser Voice Messages</title>
  </head>
  <body ng-controller="VoiceMessagesController">
    <div class="content">
      <div class="message-form" ng-hide="!sendMode">
        <form>
          <label for="message">Your mesage:</label><br/>
          <textarea id="message" rows="6" ng-model="message" placeholder="Your message here"></textarea><br/>
          <select ng-model="selectedVoice" ng-options="i.name as i.name for i in voices" ng-change="saveVoice()"></select></br>
          <button class="button getLink" ng-click="getLink()">Get link</button>
          <button class="button test" ng-click="notify(message, selectedVoice)">Test</button>
        </form>
        <input class="link" type="text" disabled="true" ng-model="link"/>
        <button class="button copy" ng-click="copyToClipboard(message)">Copy</button>
      </div>
      <div class="message-form" ng-hide="sendMode">
        <h3>You have recieved a voice message!</h3>
        <button class="button test" ng-click="replay()">Replay message</button><br/>
        <button class="button test" ng-click="send()">Send message</button>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
    <script src="lib/ngClipboard.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
