<!DOCTYPE html5>
<html ng-app="voiceMessagesApp" ng-cloak>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Browser Voice Messages</title>
  </head>
  <body ng-controller="VoiceMessagesController">
    <div class="content">
      <div class="message-form">
        <form>
          <label for="message">Your mesage:</label><br/>
          <textarea id="message" rows="6" ng-model="message" placeholder="Your message here"></textarea><br/>
          <button class="button getLink" ng-click="getLink()">Get link</button>
          <button class="button test" ng-click="notify(message)">Test</button>
        </form>
        <input class="link" type="text" disabled="true" ng-model="link"/>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
